Stocktakr/itemhandler.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://docketplace.com.au/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://docketplace.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://docketplace.com.au/">
      <s:element name="HelloWorld">
        <s:complexType/>
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrReplaceItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="itemsToUpdate" type="tns:ArrayOfLocalItem"/>
            <s:element minOccurs="1" maxOccurs="1" name="replaceAll" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalItem" nillable="true" type="tns:LocalItem"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="cost_price" type="s:decimal"/>
          <s:element minOccurs="1" maxOccurs="1" name="sale_price" type="s:decimal"/>
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double"/>
          <s:element minOccurs="1" maxOccurs="1" name="is_static" type="s:boolean"/>
          <s:element minOccurs="1" maxOccurs="1" name="modified_datetime" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrReplaceItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrReplaceItemsResult" type="tns:ItemResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="is_error" type="s:boolean"/>
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="localItems" type="tns:ArrayOfLocalItem"/>
          <s:element minOccurs="0" maxOccurs="1" name="localStocktakeTransactions" type="tns:ArrayOfLocalStocktakeTransaction"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalStocktakeTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalStocktakeTransaction" nillable="true" type="tns:LocalStocktakeTransaction"/>
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalStocktakeTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double"/>
          <s:element minOccurs="0" maxOccurs="1" name="person" type="s:string"/>
          <s:element minOccurs="1" maxOccurs="1" name="stocktake_datetime" type="s:dateTime"/>
        </s:sequence>
      </s:complexType>
      <s:element name="UploadStockTakeTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="transactions" type="tns:ArrayOfLocalStocktakeTransaction"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadStockTakeTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadStockTakeTransactionsResult" type="tns:ItemResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStocktakeTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStocktakeTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStocktakeTransactionsResult" type="tns:ItemResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsForStocktake">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsForStocktakeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsForStocktakeResult" type="tns:ItemResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsByBarcode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="productBarcode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsByBarcodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsByBarcodeResult" type="tns:ItemResponse"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld"/>
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse"/>
  </wsdl:message>
  <wsdl:message name="UpdateOrReplaceItemsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrReplaceItems"/>
  </wsdl:message>
  <wsdl:message name="UpdateOrReplaceItemsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrReplaceItemsResponse"/>
  </wsdl:message>
  <wsdl:message name="UploadStockTakeTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:UploadStockTakeTransactions"/>
  </wsdl:message>
  <wsdl:message name="UploadStockTakeTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:UploadStockTakeTransactionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetStocktakeTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStocktakeTransactions"/>
  </wsdl:message>
  <wsdl:message name="GetStocktakeTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStocktakeTransactionsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetItemsForStocktakeSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemsForStocktake"/>
  </wsdl:message>
  <wsdl:message name="GetItemsForStocktakeSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsForStocktakeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetItemsByBarcodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetItemsByBarcode"/>
  </wsdl:message>
  <wsdl:message name="GetItemsByBarcodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetItemsByBarcodeResponse"/>
  </wsdl:message>
  <wsdl:portType name="ItemHandlerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn"/>
      <wsdl:output message="tns:HelloWorldSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <wsdl:input message="tns:UpdateOrReplaceItemsSoapIn"/>
      <wsdl:output message="tns:UpdateOrReplaceItemsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UploadStockTakeTransactions">
      <wsdl:input message="tns:UploadStockTakeTransactionsSoapIn"/>
      <wsdl:output message="tns:UploadStockTakeTransactionsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <wsdl:input message="tns:GetStocktakeTransactionsSoapIn"/>
      <wsdl:output message="tns:GetStocktakeTransactionsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetItemsForStocktake">
      <wsdl:input message="tns:GetItemsForStocktakeSoapIn"/>
      <wsdl:output message="tns:GetItemsForStocktakeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetItemsByBarcode">
      <wsdl:input message="tns:GetItemsByBarcodeSoapIn"/>
      <wsdl:output message="tns:GetItemsByBarcodeSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemHandlerSoap" type="tns:ItemHandlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://docketplace.com.au/HelloWorld" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <soap:operation soapAction="http://docketplace.com.au/UpdateOrReplaceItems" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadStockTakeTransactions">
      <soap:operation soapAction="http://docketplace.com.au/UploadStockTakeTransactions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <soap:operation soapAction="http://docketplace.com.au/GetStocktakeTransactions" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsForStocktake">
      <soap:operation soapAction="http://docketplace.com.au/GetItemsForStocktake" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsByBarcode">
      <soap:operation soapAction="http://docketplace.com.au/GetItemsByBarcode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemHandlerSoap12" type="tns:ItemHandlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://docketplace.com.au/HelloWorld" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <soap12:operation soapAction="http://docketplace.com.au/UpdateOrReplaceItems" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadStockTakeTransactions">
      <soap12:operation soapAction="http://docketplace.com.au/UploadStockTakeTransactions" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <soap12:operation soapAction="http://docketplace.com.au/GetStocktakeTransactions" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsForStocktake">
      <soap12:operation soapAction="http://docketplace.com.au/GetItemsForStocktake" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemsByBarcode">
      <soap12:operation soapAction="http://docketplace.com.au/GetItemsByBarcode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemHandler">
    <wsdl:port name="ItemHandlerSoap" binding="tns:ItemHandlerSoap">
      <soap:address location="http://testdocketc.web705.discountasp.net/Itemhandler.asmx"/>
    </wsdl:port>
    <wsdl:port name="ItemHandlerSoap12" binding="tns:ItemHandlerSoap12">
      <soap12:address location="http://testdocketc.web705.discountasp.net/Itemhandler.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>